@model MillenniumWebFixed.ViewModels.ManualQuoteViewModel

<div class="mb-2">
    @Html.TextAreaFor(m => m.QuoteNotes, new { @class = "form-control form-control-sm required-field", rows = 4 })
</div>
